# --- DATABASE (PostGIS) ---
POSTGIS_USER=postgres
POSTGIS_PASSWORD=Gondal.io
POSTGIS_DB=disaster_db
POSTGIS_PORT=5432

# --- GEOSERVER ---
GEOSERVER_ADMIN_USER=admin
GEOSERVER_ADMIN_PASSWORD=geoserver
GEOSERVER_URL=http://localhost:8080/geoserver

# --- CACHING & BROKER ---
REDIS_URL=redis://localhost:6379/0

# --- AI & LLM GATEWAY ---
# Get your key at https://openrouter.ai/

OPENROUTER_API_KEY=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
LLM_MODEL=meta-llama/llama-3-8b-instruct # Optional: Default model to use

# --- FRONTEND CONFIG (React) ---
# Use 127.0.0.1 or localhost depending on your Docker networking
REACT_APP_BACKEND_URL=http://localhost:8000
REACT_APP_GEOSERVER_URL=http://localhost:8080/geoserver/wms

# --- APP SETTINGS ---
DEBUG=True
ENVIRONMENT=development